
{{format_date(date(skeletonVIM_COMA_DATE), 'long')}} {: .poselstvi }
=================================

{{bible_('', , , , lang=thislang)}} 
{: .poselstvi-vers }

{{_(
''
)}}

{{_('')}}
{: .podpis }

